<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DocFixer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Emu6510 Tests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Emu6510-All.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Emu6510.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Tools.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>832E35F02672393D008E5591</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>8363795D251CF5D000657A3B</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>83637966251CF5D100657A3B</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>83637992251CF97300657A3B</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>836379D1251D1CA400657A3B</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
